body {
	background-color: #FFFFCC;
}

#body-container {

}

#header {
	width:1000px;
	margin:auto;
	font-size:30px;
}

#logo h1 {
	margin-top:15px;
	margin-bottom:15px;
}

#logo h2 {
	margin:0px;
	margin-left:12px	;
}

#navbar {
	color:white;
	background-color: #00ADA7;
	padding: 6px;
	padding-left:12px;
	float:left;
	width:818px;
}

#login {
	color:white;
	background-color:#666666;
	padding: 6px;
	padding-left:12px;
	float:right;
	width:146px;
}

#navbar p, #login p{
	padding:0;
	margin:0;
}

.listing {
	padding:15px;
	background-color: white;
	border-bottom: solid 0px gray;
	border-right: solid 0px gray;
	border-left: solid 1px #E5E5E5;
	border-top: solid 1px #E5E5E5;
	border-radius: 10px;
	-moz-box-shadow:    2px 2px 0px 2px #ccc;
  	-webkit-box-shadow: 2px 2px 0px 2px #ccc;
  	box-shadow:         2px 2px 0px 2px #ccc;
  	margin-bottom: 10px;

}

.listing .title {
	font-size:20px;
	font-weight:bold;
}

.listing .collaborators {
	padding-bottom:4px;
	margin-bottom:4px;
	border-bottom: 1px solid gray;
}

.listing .description {
	margin-bottom:10px;
	border-bottom: 1px black;
}

.listing .tags a {
	margin-right:5px;
	background-color: #C24704;
	padding:5px;
	text-decoration: none;
	color:white;
}

.listing .tags {
	margin-top:5px;
	margin-bottom:10px;
}

.bold {
	font-weight: bold;
}































